
body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
li{
    margin-bottom: 10px;
}

.section{
    display: flex;
}

.aaa{
    display: block;
    width: 300px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 35px;
}

.sss{
    margin: 0 auto;
    width: 300px;
    display: block;
}

.bloc_1{
    width: 85%;
    margin: 0;
    background-color: #fff2e5;
}

.bloc_2{
    width: 15%;
    background-color: aqua;
}

.header{
    background-color: #f8e1c8;
    text-align: center;
}

.name{
    padding-top: 20px;
    padding-bottom: 20px;
}

.title{
    text-align: center;
}

.info{
    font-size: 19px;
    color: rgb(230, 145, 56);
    text-align: center;
}

.info_2{
    font-size: 24px;
    color: rgb(230, 145, 56);
    text-align: center;
    text-transform: uppercase;
    margin: 50px 0 25px 0;
}


.osnova{
    padding: 0 100px;
}

.h3{
    color: rgb(68, 68, 68);
}

.h3_2{
    margin-top: 25px;
    font-style: italic;
    color: #6f3198;
}

.h3_3{
    margin-top: 25px;
    font-style: italic;
    color: #6f3198;
}

.vid_1{
    font-size: 16px;
    text-align: center;
}

.vid_1_1{
    margin: 20px 0;
    font-weight: 500;
    text-align: center;
    font-size: 15px;
}

.vid_1_2{
    font-weight: 500;
    text-align: center;
    font-size: 15px;
}

.img{
    display: block;
    margin: 0 auto;
    width: 600px;
}

.vid_1_3{
    font-size: 16px;
    text-align: center;
    margin-bottom: 70px;
}


.img_2{
    display: block;
    margin: 0 auto;
    width: 400px;
}

.img_3{
    display: block;
    margin: 0 auto;
    width: 400px;
}

.big_sendwith{
    display: flex;
    margin: 0 auto;
}

.img_4{
    display: block;
    margin: 0 auto;
    width: 300px;
    margin-bottom: 80px;
}

.img_5{
    width: 100%;
    height: 100%;
}

@media (max-width: 1230px) {
    .osnova{
        padding: 0 50px;
    }

    .img{
        width: 500px;
    }

    .img_2{
        width: 300px;
    }

    .img_3{
        width: 300px;
    }

    .name{
        font-size: 30px;
    }

}

@media (max-width: 990px) {


    .osnova{
        padding: 0 25px;
    }

    .img{
        width: 350px;
    }

    .img_2{
        width: 200px;
    }

    .img_3{
        width: 200px;
    }

    .img_4{
        width: 250px;
        margin-bottom: 25px;
    }

    .name{
        font-size: 16px;
    }

    .info{
        font-size: 14px;
    }

    .info_2{
        font-size: 20px;
    }

    .h3{
        font-size: 13px;
    }

    .h3_2{
        font-size: 13px;
    }

    .h3_3{
        font-size: 13px;
    }

    .vid_1{
        font-size: 11px;
    }

    .vid_1_1{
        font-size: 11px;
    }

    .vid_1_2{
        font-size: 11px;
    }

    .vid_1_3{
        font-size: 11px;
    }

    .vid_1_4{
        font-size: 11px;
    }
}


@media (max-width: 770px) {

    .bloc_1{
        width: 80%;
    }

    .aaa{
        width: 200px;
    }

    .sss{
        width: 200px;
    }

    .bloc_2{
        width: 10%;
    }

    .osnova{
        padding: 0 50px;
    }

    .img{
        width: 450px;
    }

    .img_2{
        width: 250px;
    }

    .img_3{
        width: 250px;
    }

    .img_4{
        width: 250px;
        margin-bottom: 25px;
    }

    .name{
        font-size: 20px;
    }

    .info{
        font-size: 16px;
    }

    .info_2{
        font-size: 22px;
    }

    .h3{
        font-size: 15px;
    }

    .h3_2{
        font-size: 15px;
    }

    .h3_3{
        font-size: 15px;
    }

    .vid_1{
        font-size: 13px;
    }

    .vid_1_1{
        font-size: 13px;
    }

    .vid_1_2{
        font-size: 13px;
    }

    .vid_1_3{
        font-size: 13px;
    }

    .vid_1_4{
        font-size: 13px;
    }
}

@media (max-width: 575px) {

    .bloc_1{
        width: 100%;
    }

    .aaa{
        width: 150px;
    }

    .sss{
        width: 150px;
    }

    .bloc_2{
        display: none;
    }

    .osnova{
        padding: 0 25px;
    }

    .img{
        width: 250px;
    }

    .img_2{
        width: 150px;
    }

    .img_3{
        width: 150px;
    }

    .img_4{
        width: 150px;
        margin-bottom: 25px;
    }

    .name{
        font-size: 16px;
    }

    .info{
        font-size: 12px;
    }

    .info_2{
        font-size: 18px;
    }

    .h3{
        font-size: 11px;
    }

    .h3_2{
        font-size: 11px;
    }

    .h3_3{
        font-size: 11px;
    }

    .vid_1{
        font-size: 9px;
    }

    .vid_1_1{
        font-size: 9px;
    }

    .vid_1_2{
        font-size: 9px;
    }

    .vid_1_3{
        font-size: 9px;
    }

    .vid_1_4{
        font-size: 9px;
    }
}













